<!DOCTYPE html>
<html>
  <head>
    <title>BoardChannel</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <div id="fixed">
      <div id="boardicon">
      <h1>
        BoardChannel
      </h1>
    </div>
    <div class="topnav">
      <a class="active" href="https://anonymous-message-board-eriko.glitch.me/">Home</a>
      <a href="https://anonymous-message-board-eriko.glitch.me/create">Create new Thread</a>
<!--       <a href="https://anonymous-message-board-eriko.glitch.me/delete">Delete a Thread</a>
      <a href="https://anonymous-message-board-eriko.glitch.me/report">Report a Thread</a> -->
    </div>
      
    </div>
    
    <header>
      <h1>
        Welcome to the Anonymous Message Board
      </h1>
      <h2>
        Select a thread and join the conversation!
      </h2>
    </header>    
    

    
    <div id="boards">
      <div>
        <h2>Chose Your Thread</h2>
        </div>
      <div id="boardname">
      </div>
    </div>
    


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>

      $(function() {
        $.getJSON('/api/boards', function(data) {
          var items = [];
          $.each(data, function(i, val) {
            console.log(val)
            var url = "'https://anonymous-message-board-eriko.glitch.me/b/"+ val +"/'"
            var href = '"window.location.href ='+ url+ ';"'
            console.log(href)
            items.push('<div class="listWrapper"><h3 class="threadName" id="' + i + '">' + val  + '</h3> <button type="button"  onclick='+href+'>Go to Board</button><div/>');
            });
          $('<div/>', {
            'class': 'wrapper',
            html: items
            }).appendTo('#boardname');
          }); 
        
      });
   </script>
  </body>
</html>
