<!DOCTYPE html>
<html>
  <head>
    <title>BoardChannel</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <div id="fixed">
      <div id="boardicon">
      <h1>
        BoardChannel
      </h1>
    </div>
    <div class="topnav">
      <a href="https://anonymous-message-board-eriko.glitch.me/">Home</a>
      <a href="https://anonymous-message-board-eriko.glitch.me/create">Create new Thread</a>
      <a href="https://anonymous-message-board-eriko.glitch.me/delete">Delete a Thread</a>
      <a class="active" href="https://anonymous-message-board-eriko.glitch.me/report">Report a Thread</a>
    </div>
      
    </div>
    
    <header>
      <h1>
        Welcome to the Anonymous Message Board
      </h1>
      <h2>
        Select a thread and join the conversation!
      </h2>
    </header>     
    
    <div class="forms">
      <h4>Report a Thread</h4>
        <form id="reportThread">
          <label for="board2">Thread Name</label>
          <input type='text' placeholder='board' id='board2' name='board' required=''><br>
          <label for="thread_id">Thread ID to Report</label>
          <input type='text' placeholder='id to report' id="thread_id" name='thread_id' required=''><br>
          
          <input type="submit" id="submitbutton" value="Submit">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>

      $(function() {
        $('#reportThread').submit(function(e){
          var url = "/api/threads/"+$('#board2').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
      });
   </script>
    

    
    
 
  </body>
</html>
