<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/styleboard.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
  </head>
  <body>
    <div id="fixed">
      <div id="boardicon">
      <h1>
        BoardChannel
      </h1>
    </div>
    <div class="topnav">
      <a class="active" href="https://anonymous-message-board-eriko.glitch.me/">Home</a>
      <a href="https://anonymous-message-board-eriko.glitch.me/create">Create new Thread</a>
<!--       <a href="https://anonymous-message-board-eriko.glitch.me/delete">Delete a Thread</a>
      <a href="https://anonymous-message-board-eriko.glitch.me/report">Report a Thread</a> -->
    </div>
      
    </div>
    
    <header>
      <h1>
        Welcome to the Anonymous Message Board
      </h1>
      <h2>
        Select a thread and join the conversation!
      </h2>
    </header>    
    <div>
      <h1 id='threadTitle'></h1>
    </div>
    
    <div id='boardDisplay'></div>
    
    <hr>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        var currentURL = window.location.pathname.slice(3);
        currentURL = currentURL.split('/');
        console.log("currentURL?", currentURL)
        var url = "/api/replies/"+currentURL[0];
        $.ajax({
          type: "GET",
          url: url,
          data:{thread_id: currentURL[1]},
          success: function(ele)
          {
            var boardThreads= [];
            //
            // THIS ARRAY SET UP IS FOR CODE READABILITIES AND TESTING!
            // THIS IS NOT WHAT IT WOULD LOOK LIKE TO GO LIVE
            //
              console.log("ele", ele);//can I use typeScript please?!
              var thread = ['<div class="thread">'];
              thread.push('<div class="main">')
              thread.push('<h3>'+ele.text+'</h3>');
              thread.push('<div class="report"><div class=threadcontrol><p class="id">id: '+ele._id+' ('+ele.created_on+')</p></div>');
              thread.push('<div class="action">')  
              thread.push('<button id="myBtn" class="button" value="Delete this board"><i class="far fa-trash-alt"></i></button>')
              thread.push('<div id="myModal" class="modal"><div class="modal-content"><span class="close">&times;</span><form id="deleteThread"><p>Please enter the password to delete this thread</p><input type="hidden"  value="'+ele._id+'" name="thread_id" required="">')
              thread.push('<input type="text" class="password" placeholder="password" name="delete_password" required=""><button class="button" type="submit" value="Delete this board"><i class="far fa-trash-alt"></i></button></form></div></div>')
              thread.push('<form id="reportThread"><input type="hidden"  name="thread_id" value="'+ele._id+'"><button class="button" type="submit" value="Report this board"><i class="far fa-flag"></i></button></form></div>')
              thread.push('</div></div><div class="replies">');
              ele.replies.forEach(function(rep) {
                thread.push('<div class="reply">')
                thread.push('<div class="replysection"><div class=threadcontrol><p class="text">'+rep.text+'</p>');
                thread.push('<div class="action">')           
                thread.push('<button id="myBtn2" class="button" value="Delete this board"><i class="far fa-trash-alt"></i></button>')
                thread.push('<div id="myModal2" class="modal"><div class="modal-content"><span class="close">&times;</span><form id="deleteReply"><p>Please enter the password to delete this reply</p><input type="hidden"  value="'+ele._id+'" name="thread_id" required=""><input  type="hidden" value="'+rep._id+'" name="reply_id" required="">')
                thread.push('<input type="text" class="password" placeholder="password" name="delete_password" required=""><button class="button" type="submit" value="Delete this reply"><i class="far fa-trash-alt"></i></button></form></div></div>') 
                thread.push('<form id="reportReply"><input type="hidden"  name="thread_id" value="'+ele._id+'"><input  type="hidden" name="reply_id" value="'+rep._id+'"><button class="button" type="submit" value="Report this board"><i class="far fa-flag"></i></button></div></form>');
                thread.push('</div></div></div>')
                
              });
              thread.push('<div class="newReply">')
              thread.push('<form action="/api/replies/'+currentURL[0]+'/" method="post" id="newReply">');
              thread.push('<input type="hidden" name="thread_id" value="'+ele._id+'">');
              thread.push('<textarea rows="5" cols="50" type="text" placeholder="Quick reply..." name="text" required=""></textarea><br>');
              thread.push('<input type="text" class="password" placeholder="password to delete" name="delete_password" required=""><input type="submit" class="button2" value="Submit">')
              thread.push('</form></div></div></div>')
              boardThreads.push(thread.join(''));
            $('#boardDisplay').html(boardThreads.join(''));
          }
        });
        
        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + currentBoard);
        });
        
        
        $('#boardDisplay').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data);
                                    location.reload();}
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data);
                                    location.reload();}
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#deleteThread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data);
                                    location.reload();}
          });
          e.preventDefault();
        });        
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data);
                                    location.reload();}
          });
          e.preventDefault();
        });              
        $('#boardDisplay').on('click','#myBtn', function(e) {
          var modal = document.getElementById("myModal");
          var btn = document.getElementById("myBtn");
          var span = document.getElementsByClassName("close")[0];
          modal.style.display = "block";
        })

        $('#boardDisplay').on('click','span', function(e) {
          var modal = document.getElementById("myModal");
          var btn = document.getElementById("myBtn");
          var span = document.getElementsByClassName("close")[0];
          modal.style.display = "none";
        })
        $('#boardDisplay').on('click','#myBtn2', function(e) {
          var modal = document.getElementById("myModal2");
          var btn = document.getElementById("myBtn2");
          var span = document.getElementsByClassName("close")[0];
          modal.style.display = "block";
        })

        $('#boardDisplay').on('click','span', function(e) {
          var modal = document.getElementById("myModal2");
          var btn = document.getElementById("myBtn");
          var span = document.getElementsByClassName("close")[0];
          modal.style.display = "none";
        })
      });
   </script>
  </body>
</html>
